{% extends "concept_analytics/dashboard/base.html" %}

{% block content %}
<div class="heatmap-container">
    {% for path, page in pages.items %}
    <div class="page-card">
        <h3>{{ page.title }}</h3>
        <p class="path">{{ path }}</p>
        <div class="blocks">
            {% for block in page.blocks %}
            <div class="block-row">
                <div class="block-label">{{ block.label }}</div>
                <div class="block-bar-container">
                    <div class="block-bar" style="width: {{ block.intensity_pct }}%; background-color: blue;">
                        <span class="value">{{ block.value }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
